*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body{
    background: linear-gradient(180deg, #001729 0%, #01579B 100%);
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.nav{
    width: 100%;
    margin: 0 auto;
    position:relative;
    font-size: 2rem;
    height: 70px;
    &__panel{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: fixed;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 10px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #0090eab2 100%);
        &--left, &--right{
            font-size: 2rem;
        }
        &--left{
            padding-left: 1em;
            text-transform: uppercase;
            color: #f5f5f5;
            letter-spacing: 1px;
        }
        &--right{
            padding-right: 1em;
            padding: .3em;
        }
    }
}


.panel {
    height: 100vh;
    width: 100%;
}
.panel.green {
    margin-bottom: 400px;
}